#*********************************************************
# python stuff
#*********************************************************

env/
build/
dist/
docs/_build/
**/*.egg-info
.tox
__pycache__

# python testing
.pytest_cache
.coverage


#*********************************************************
# other stuff
#*********************************************************

.vscode